body {
    height: fit-content;
}
#contents {
    color: white;
    position: absolute;
    top: 100px;
    width: 100%;
}
.contents-container {
    margin: auto;
    width: 90%;
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px white;
}
.about-container {
    position: relative;
    text-align: center;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.about-container h3 {
    position: absolute;
    top:-55px;
    text-align: center;
    font-size: xx-large;
}

.about_image {
    margin: 0px 75px 0px 75px;
    width: 300px;
    height: 150px;
    border-radius: 50%;
}
.about_image p{
    font-size: 15px;
}
.about_image img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
}
.about-header {
    padding-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0px 0px 3px 2px white;
    border-bottom: 1px solid white;
}
.about-header fieldset {
    margin: auto;
    width: 500px

}
.about-header fieldset legend {
    font-size: 30px;
}
.about-footer {
    margin-top: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0px 0px 3px 2px white;
    border-top: 1px solid white;
    margin-bottom: 25px
}

.description {
    margin: 0px ;
    padding: 0px;
}